- name: Deploy to EC2
  uses: appleboy/ssh-action@v1.0.0
  with:
    host: ${{ secrets.SERVER_HOST }}
    username: ${{ secrets.SERVER_USER }}
    key: ${{ secrets.SERVER_SSH_KEY }}
    script: |
      docker pull ${{ secrets.DOCKER_USERNAME }}/finalproject-backend:latest
      cd ~/finalproject
      docker compose -f docker-compose.prod.yml up -d
